<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vincent.govermentcomplaintapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/splash_screen"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.RegisterSplashScreenActvity"></activity>
        <activity
            android:name=".ui.NotificationsActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".AdminLogginInSplashScreen" />
        <activity android:name=".AdminProfileSetup" />
        <activity android:name=".ui.AdminActivity" />
        <activity android:name=".ui.LocateUserActivity" />
        <activity
            android:name=".ui.CreateComplaint"
            android:parentActivityName=".ui.ComplaintRoomActivity" />
        <activity
            android:name=".ui.ComplaintRoomActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.ComplaintProgress"
            android:parentActivityName=".ui.ComplaintRoomActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.ProfileSetupActivity" />
        <activity android:name=".ui.RegisterActivity" />
        <activity android:name=".SplashSpash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:freezesText="true" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/googleApiKey" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>